
.container {
  margin-top: 3rem
}

.collapse show button {
  color: #707070
}

#accordion {
  margin-left: 4rem;
  margin-right: 4rem
}
#accordion table {
  border-color:#707070
}
#accordion td {
  color: #707070
}
#accordion button {
  color: #707070;
  border: none;
}
#accordion .collapse {
  border-left: solid;
  border-right: solid
}
