
button {
  background-color: transparent;
  border-radius: 0;
  border-style: none;
  color:#707070
}
.container {
  width: 80%;
  max-width: 600px;
  margin: 50px auto
}
button.accordion-todos {
  width: 100%;
  background-color: rgb(41, 41, 41);
  color: #707070;
  border: none;
  outline:none;
  cursor: pointer;
  padding: 7px 0;
  transition: background-color 0.3s linear;
  vertical-align:middle;
}

button.accordion-todos:hover {
  background-color:rgba(8, 139, 30, 0.482);
  color: white
}

.accordion-content {
  padding: 0 20px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  max-height: 0;
  overflow:hidden;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 0;
}
li {
  list-style-type: none;
  text-align:center
}

.around-subs {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}