.title img {
  width: 2rem;
}
.title {
  display: flex;
  align-items: flex-start;
}
.App {
  color: #707070;
  background-color: black;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
html {
  background-color: black;
  color: #707070;
}

button {
  background-color: transparent;
  border-radius: 0;
  border-style: none;
}
button:hover {
  color:white
}