.title img {
  width: 2rem;
}
.title {
  display: flex;
  align-items: flex-start;
}
.App {
  color: #8e8e8e;
  background-color: black;
  font-family:Segoe UI;
  padding-left: 4rem;
  padding-right: 4rem
}
html {
  background-color: black;
  color: #707070;
}